@using EntityLayer.Concreate
@model List<About>

<!--// about -->
<section class="banner-bottom-wthree py-lg-5 py-md-5 py-4" id="about">
    <div class="container">
        <div class="inner-sec-w3ls py-lg-5 py-4">
            <div class="info-about text-center">
                <div class="row mt-lg-5 mt-3">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-4">
                            <div class="author-profile">
                                <div class="cont text-center">
                                    <div class="img">
                                        <img src="@(item.Image)" alt="@(item.NameSurname)">
                                    </div>

                                    <div class="info mt-3">
                                        <h5>@(item.NameSurname)</h5>
                                        <span>@(item.Job)</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-8">
                            <div class="hero-text">
                                <h1>Merhaba Ben, <span>@(item.NameSurname)</span></h1>
                                <p>
                                    @(item.LongDescription)
                                </p>
                                <a class="btn work scroll active"
                                   style="float:inline-end"
                                   href="/Users/ViewCv"
                                   target="_blank">
                                    Cv Görüntüle
                                </a>

                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</section>
<!--// about -->
