
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="zxx">

@Html.Partial("~/Views/SiteLayoutPartialView/HeadPartial.cshtml")

<body>
    @Html.Partial("~/Views/SiteLayoutPartialView/HeaderPartial.cshtml")

    @Html.Action("About", "Users")

    @Html.Action("Skills", "Users")

    @Html.Action("Experience", "Users")

    @Html.Action("Portfolyo", "Users")

    @Html.Action("Contact", "Users")

    @Html.Partial("~/Views/SiteLayoutPartialView/FooterPartial.cshtml")

    @Html.Action("LoginPage", "Users")

    @Html.Partial("~/Views/SiteLayoutPartialView/ScriptPartial.cshtml")

</body>
</html>
