@model EntityLayer.Concreate.Admin
@{
    ViewBag.Title = "AdminEdit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post" action="~/Admin/AdminUpdate">
    <div class="modal-body">
        <div class="mb-3">
            @Html.HiddenFor(x => x.AdminID, new { @class = "form-control" })
        </div>

        <div class="mb-3">
            @Html.HiddenFor(x => x.NameSurname, new { @class = "form-control" })
        </div>

        <div class="mb-3">
            <label for="Password" class="form-label">Password</label>
            @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
        </div>

        <div class="mb-3">
            <label for="About" class="form-label">About</label>
            @Html.TextBoxFor(x => x.About, new { @class = "form-control" })
        </div>

        <div class="mb-3">
            <label for="Address" class="form-label">Address</label>
            @Html.TextAreaFor(x => x.Address, 4, 0, new { @class = "form-control" })
        </div>

        <div class="mb-3">
            <label for="Phone" class="form-label">Phone</label>
            @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
        </div>

        <div class="mb-3">
            <label for="Image" class="form-label">Image</label>
            @Html.TextBoxFor(x => x.Image, new { @class = "form-control" })
        </div>

        <div class="mb-3">
            <label for="RoleID" class="form-label">Role Type</label>
            @Html.DropDownList("RoleID", (IEnumerable<SelectListItem>)ViewBag.RoleType, new { @class = "form-control" })
        </div>

        <label for="AdminStatus" class="form-label">Status</label>
        <div class="form-check-inline">
            <div class="form-check">
                @Html.RadioButtonFor(x => x.Status, true, new { @class = "form-check-input" })
                <label class="form-check-label" for="durumAktif">Active</label>
            </div>
            <div class="form-check">
                @Html.RadioButtonFor(x => x.Status, false, new { @class = "form-check-input" })
                <label class="form-check-label" for="durumPasif">Pasive</label>
            </div>
        </div>

        <br />
    </div>
    <div class="modal-footer">
        <a href="@Url.Action("Admin")" class="btn btn-danger btn-sm">Return</a>
        <button type="submit" class="btn btn-primary btn-sm">Edit</button>
    </div>
</form>