@using EntityLayer.Concreate
@model List<Admin>
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="table-wrapper">
    <table class="modern-table">
        <thead>
            <tr>
                <th>Name Surname</th>
                <th>About</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Image</th>
                <th>Role</th>
                <th>Status</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.NameSurname</td>
                    <td>@(item.About.Length < 20 ? item.About : item.About.Substring(0,20) + "..." )</td>
                    <td>@(item.Address.Length < 20 ? item.Address : item.Address.Substring(0,20) + "..." )</td>
                    <td>@item.Phone</td>
                    <td>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <img alt="Avatar" class="table-avatar" src="@(item.Image)" style="width:40px">
                            </li>
                        </ul>
                    </td>
                    <td>@item.Role.RoleType</td>
                    @if (item.Status)
                    {
                        <td>
                            <span class="status active">Active</span>
                        </td>
                    }
                    else
                    {
                        <td>
                            <span class="status passive">Passive</span>
                        </td>
                    }
                    <td>
                        <a href="@Url.Action("AdminEdit", "Admin", new {id = item.AdminID})" class="btn-edit"><i class="fas fa-pen"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="table-header">
    <button class="btn-add" data-toggle="modal" data-target="#modal1">
        <i class="fas fa-plus"></i> Ekle
    </button>
</div>

<div class="modal fade" id="modal1" tabindex="-1" aria-labelledby="modal1Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content border-0 shadow-lg">
            <div class="modal-header">
                <h2 class="modal-title" id="modal1Label" style="margin:0 0 0 9rem">Add Admin</h2>
            </div>

            <form method="post" action="~/Admin/AdminAdd">
                <div class="modal-body">

                    <div class="mb-3">
                        <label for="NameSurname" class="form-label">Name Surname</label>
                        <input type="text" name="NameSurname" id="NameSurname" class="form-control">
                    </div>

                    <div class="mb-3">
                        <label for="MailAddress" class="form-label">Mail Address</label>
                        <input type="text" name="MailAddress" id="MailAddress" class="form-control">
                    </div>

                    <div class="mb-3">
                        <label for="Password" class="form-label">Password</label>
                        <input type="password" name="Password" id="Password" class="form-control">
                    </div>

                    <div class="mb-3">
                        <label for="About" class="form-label">About</label>
                        <input type="text" name="About" id="About" class="form-control">
                    </div>

                    <div class="mb-3">
                        <label for="Address" class="form-label">Address</label>
                        <input type="text" name="Address" id="Address" class="form-control">
                    </div>

                    <div class="mb-3">
                        <label for="Phone" class="form-label">Phone</label>
                        <input type="tel" name="Phone" id="Phone" class="form-control">
                    </div>

                    <div class="mb-3">
                        <label for="Image" class="form-label">Image</label>
                        <input type="text" name="Image" id="Image" class="form-control">
                    </div>

                    <div class="mb-3">
                        <label for="RoleID" class="form-label">Role Type</label>
                        @Html.DropDownList("RoleID", (IEnumerable<SelectListItem>)ViewBag.RoleType, new { @class = "form-control" })
                    </div>

                    <label for="AdminStatus" class="form-label">Status</label>
                    <div class="form-check-inline">
                        <div class="form-check">
                            <input class="form-check-input" id="durumAktif" name="Status" type="radio" value="True">
                            <label class="form-check-label" for="durumAktif">Active</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" id="durumPasif" name="Status" type="radio" value="False">
                            <label class="form-check-label" for="durumPasif">Pasive</label>
                        </div>
                    </div>

                    <br />
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-sm">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

