
@{
    Layout = null;
}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

@Html.Partial("~/Views/SiteLayoutPartialView/HeadPartial.cshtml")

<body>
    @Html.Partial("~/Views/SiteLayoutPartialView/HeaderPartial.cshtml")


    @RenderBody()

    <!-- /experience -->
    <section class="experience py-lg-5 py-4" id="experience">
        <div class="timeline py-lg-5 py-3">
            <h4 class="sub-tittle-w3 text-uppercase text-center">Experience</h4>
            <h3 class="tittle-w3 text-uppercase mb-lg-5 mb-3 text-center">Job & Education</h3>
            <div id="my-timeline"></div>
        </div>

    </section>
    <!-- //experience -->



    <!--gallery  -->
    <section class="gallery py-md-5 py-3" id="portfolyo">
        <div class="gallery-inner container py-md-5 pb-3">
            <h4 class="sub-tittle-w3 text-uppercase text-center">View all</h4>
            <h3 class="tittle-w3 text-uppercase mb-lg-5 mb-3 text-center">My portfolyo</h3>
            <div class="row">

                <div class="col-md-4 proj_gallery_grid" data-aos="zoom-in">
                    <div class="section_1_gallery_grid">
                        <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="~/Content/images/g1.jpg">
                            <div class="section_1_gallery_grid1">
                                <img src="~/Content/images/g1.jpg" alt=" " class="img-fluid" />
                                <div class="proj_gallery_grid1_pos">
                                    <h3>Recognize</h3>

                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="section_1_gallery_grid" data-aos="zoom-in">
                        <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="~/Content/images/g2.jpg">
                            <div class="section_1_gallery_grid1">
                                <img src="~/Content/images/g2.jpg" alt=" " class="img-fluid" />
                                <div class="proj_gallery_grid1_pos">
                                    <h3>Recognize</h3>

                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="section_1_gallery_grid" data-aos="zoom-in">
                        <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="~/Content/images/g3.jpg">
                            <div class="section_1_gallery_grid1">
                                <img src="~/Content/images/g3.jpg" alt=" " class="img-fluid" />
                                <div class="proj_gallery_grid1_pos">
                                    <h3>Recognize</h3>

                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 proj_gallery_grid" data-aos="zoom-in">
                    <div class="section_1_gallery_grid">
                        <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="~/Content/images/g4.jpg">
                            <div class="section_1_gallery_grid1">
                                <img src="~/Content/images/g4.jpg" alt=" " class="img-fluid" />
                                <div class="proj_gallery_grid1_pos">
                                    <h3>Recognize</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="section_1_gallery_grid" data-aos="zoom-in">
                        <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="~/Content/images/g5.jpg">
                            <div class="section_1_gallery_grid1">
                                <img src="~/Content/images/g5.jpg" alt=" " class="img-fluid" />
                                <div class="proj_gallery_grid1_pos">
                                    <h3>Recognize</h3>

                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="section_1_gallery_grid" data-aos="zoom-in">
                        <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="~/Content/images/g6.jpg">
                            <div class="section_1_gallery_grid1">
                                <img src="~/Content/images/g6.jpg" alt=" " class="img-fluid" />
                                <div class="proj_gallery_grid1_pos">
                                    <h3>Recognize</h3>

                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 proj_gallery_grid" data-aos="zoom-in">
                    <div class="section_1_gallery_grid">
                        <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="~/Content/images/g7.jpg">
                            <div class="section_1_gallery_grid1">
                                <img src="~/Content/images/g7.jpg" alt=" " class="img-fluid" />
                                <div class="proj_gallery_grid1_pos">
                                    <h3>Recognize</h3>

                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="section_1_gallery_grid" data-aos="zoom-in">
                        <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="~/Content/images/g8.jpg">
                            <div class="section_1_gallery_grid1">
                                <img src="~/Content/images/g8.jpg" alt=" " class="img-fluid" />
                                <div class="proj_gallery_grid1_pos">
                                    <h3>Recognize</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="section_1_gallery_grid" data-aos="zoom-in">
                        <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="~/Content/images/g9.jpg">
                            <div class="section_1_gallery_grid1">
                                <img src="~/Content/images/g9.jpg" alt=" " class="img-fluid" />
                                <div class="proj_gallery_grid1_pos">
                                    <h3>Recognize</h3>

                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <!--end portfolio-area -->
            </div>
            <!-- //gallery container -->
        </div>
    </section>
    <!-- //gallery -->


    <!-- /Contact-->
    <section class="contact py-lg-5 py-md-5 py-3" id="contact">
        <div class="container">
            <div class="inner-sec-w3ls py-lg-5 py-3">
                <h4 class="sub-tittle-w3 text-uppercase text-center">Find Me</h4>
                <h3 class="tittle-w3 text-uppercase mb-lg-5 mb-3 text-center text-white">Contact Me Now</h3>

                <div class="contact_grid_right">
                    <form action="#" method="post">
                        <div class="row contact_left_grid">
                            <div class="col-md-6 con-left" data-aos="fade-up">
                                <div class="form-group">

                                    <input class="form-control" type="text" name="Name" placeholder="" required="">
                                </div>
                                <div class="form-group">

                                    <input class="form-control" type="email" name="Email" placeholder="" required="">
                                </div>
                                <div class="form-group">

                                    <input class="form-control" type="text" name="Subject" placeholder="" required="">
                                </div>
                            </div>
                            <div class="col-md-6 con-right" data-aos="fade-up">
                                <div class="form-group">
                                    <textarea id="textarea" placeholder="" required=""></textarea>
                                </div>
                            </div>
                            <div class="sub-honey mx-auto mt-3">
                                <input class="form-control" type="submit" value="Submit">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="address row mt-lg-5">

                    <div class="col-md-4 address-grid" data-aos="flip-up">
                        <div class="address-info">
                            <div class="address-left text-center">
                                <i class="far fa-map"></i>
                            </div>
                            <div class="address-right text-center">
                                <h6 class="my-3">Address</h6>
                                <p>
                                    California, USA

                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 address-grid" data-aos="flip-up">
                        <div class="address-info">
                            <div class="address-left text-center">
                                <i class="far fa-envelope"></i>
                            </div>
                            <div class="address-right text-center">
                                <h6 class="my-3">Email</h6>
                                <p>
                                    Email :
                                    <a href="mailto:example@email.com"> mail@example.com</a>

                                </p>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4 address-grid" data-aos="flip-up">
                        <div class="address-info">
                            <div class="address-left text-center">
                                <i class="fas fa-mobile-alt"></i>
                            </div>
                            <div class="address-right text-center">
                                <h6 class="my-3">Phone</h6>
                                <p>+1 234 567 8901</p>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //Contact -->



    @Html.Partial("~/Views/SiteLayoutPartialView/FooterPartial.cshtml")
    <!--model-forms-->
    <!--/Login-->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="login px-4 mx-auto mw-100">
                        <h5 class="text-center mb-4">Login Now</h5>
                        <form action="#" method="post">
                            <div class="form-group">
                                <label class="mb-2">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" required="">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                                <label class="mb-2">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="" required="">
                            </div>
                            <div class="form-check mb-2">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                            </div>
                            <button type="submit" class="btn btn-primary submit mb-4">Sign In</button>
                            <p class="text-center pb-4">
                                <a href="#" data-toggle="modal" data-target="#exampleModalCenter2"> Don't have an account?</a>
                            </p>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--//Login-->
    <!--/Register-->
    <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="login px-4 mx-auto mw-100">
                        <h5 class="text-center mb-4">Register Now</h5>
                        <form action="#" method="post">
                            <div class="form-group">
                                <label>First name</label>

                                <input type="text" class="form-control" id="validationDefault01" placeholder="" required="">
                            </div>
                            <div class="form-group">
                                <label>Last name</label>
                                <input type="text" class="form-control" id="validationDefault02" placeholder="" required="">
                            </div>

                            <div class="form-group">
                                <label class="mb-2">Password</label>
                                <input type="password" class="form-control" id="password1" placeholder="" required="">
                            </div>
                            <div class="form-group">
                                <label>Confirm Password</label>
                                <input type="password" class="form-control" id="password2" placeholder="" required="">
                            </div>

                            <button type="submit" class="btn btn-primary submit mb-4">Register</button>
                            <p class="text-center pb-4">
                                <a href="#">By clicking Register, I agree to your terms</a>
                            </p>
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--//Register-->

    @Html.Partial("~/Views/SiteLayoutPartialView/ScriptPartial.cshtml")


</body>

</html>
